@page "/login"
@using BlazorApp.Model.Models
@using BlazorApp.Web.Authentication
@using BlazorApp.Web.Components.Layout
@using Microsoft.AspNetCore.Components.Authorization
@layout EmptyLayout
@inject ApiClient ApiClient
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

<div class="p-5">
    <EditForm Model="loginModel" FormName="Login" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="username">Username</label>
            <InputText id="username" class="form-control" @bind-Value="loginModel.Username" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <InputText id="password" class="form-control" type="password" @bind-Value="loginModel.Password" />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Login</button>
    </EditForm>
</div>

@code {
    private LoginModel loginModel = new LoginModel();
    private async Task HandleLogin()
    {
        var res = await ApiClient.PostAsync<LoginResponseModel, LoginModel>("/api/auth/login", loginModel);
        if (res != null && res.Token != null)
        {
            await ((CustomAuthStateProvider)AuthStateProvider).MarkUserAsAuthenticated(res);
            Navigation.NavigateTo("/");
        }
    }
}
